.parent {
  border: 5px solid red;
  height: 500px;
  width: 500px;
  position: relative;
}
.child {
  border: 3px solid green;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
